<!DOCTYPE html>
<html>
<head>
  <title>RailsDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if flash[:notice] %>
  <div class="notice">123  <%= flash[:notice] %></div>
<% end %>


<% if current_user %>
  <li><%= link_to current_user.name, "#" %></li>
  <li><%= link_to "logout", logout_path, method: "delete" %></li>
<% else %>
  <li><%= link_to "login", login_path %></li>
  <li><%= link_to "signup", signup_path %></li>
<% end %>

<li><%= link_to t("navbar.about"), "/about" %></li>



<%= yield %>
</body>
</html>

<script>

    var hideNotice = function(){
        $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 4000);
</script>
